.logo-text {
    font-size: 3rem;
    color: #007bff;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 0.5rem;
}

.btn-outline {
    border: 2px solid #007bff;
    color: #007bff;
    background: transparent;
}

.btn-outline:hover {
    background: #007bff;
    color: white;
}
/* Estilo para las tarjetas de tareas */
.task-card {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    border-left: 5px solid #007bff; /* Borde azul a la izquierda */
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}